/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Assicura che padding e bordi siano inclusi nelle dimensioni totali */
}

 body {
  height: 100%; /* Estende il contenitore principale */
  font-family: 'Montserrat', sans-serif;
}


.container {
  padding-top: 70px; /* Aggiungi spazio sopra per la navbar */
}
.Main {
  border: 1px solid black;
}

p {
  font-size: 18px;
  color: blue;
} 

#root {
  max-width: 100%;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altezza minima uguale alla finestra */
}

.content {
  flex: 1; /* Occupa tutto lo spazio disponibile */
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

