
.Main {
  position: fixed; /* Fissa la navbar in cima alla pagina */
  top: 0; /* Posiziona la navbar in alto */
  left: 0; /* Allinea a sinistra */
  width: 100%; /* Larghezza al 100% */
  background-color: #6fa5df; /* Colore di sfondo */
  color: white; /* Colore del testo */
  padding: 10px 20px; /* Spazi interni */
  display: flex; /* Usa Flexbox per gestire gli elementi interni */
  justify-content: space-between; /* Spaziatura tra elementi */
  align-items: center; /* Allineamento verticale */
  z-index: 1000; /* Assicurati che la navbar sia sopra gli altri elementi */
}

.LinksSection ul {
  list-style: none; /* Rimuovi i puntini */
  margin: 0; /* Rimuovi margini */
  padding: 0; /* Rimuovi padding */
  display: flex; /* Allinea gli elementi in orizzontale */
  gap: 15px; /* Spaziatura tra gli elementi */
  font-size: 20px;
}

a {
  color: white;
  text-shadow: 1px 1px 6px #000000;
}

.LinksSection a:hover {
  color: white;
  font-weight: bolder;
}

.aereo {
  width: 90px;
  fill: white;
}

.LinksSection li:hover {
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.LogoSection .text {
  font-size: 40px; /* Dimensione del testo */
  font-weight: bold; /* Testo in grassetto */
}

.LogoSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

a{
  font-size: 30px;
}



.LinksSection {
  margin-right: 100px;

}
